<template>
    <div id='app-root' class="restaurants">
        <restaurants class="restaurant-map"></restaurants>
        <restaurant-filter class="restaurant-filter"></restaurant-filter>
    </div>
</template>

<script src="./app.ts"></script>
<style src="./app.css"></style>
