﻿.filters {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 40px;
}

.filters h2 {
    margin: 20px;
}

.filter {
    margin: 10px 20px 10px 20px;
}
    

.filter select {
    width: 100%;
}

.text-box input {
    width: 100%;
}
