﻿<template>
    <div class="filters">
        <h2>Filters</h2>
        <div class="filter">
            <label>Cuisine:</label>
            <select class="form-control" v-model="filter.cuisine">
                <option v-for="option in cuisineOptions" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </div>
        <div class="filter text-box">
            <label>Min. order cost:</label>
            <input class="form-control" type="number" v-model="filter.minOrderCost" number />
        </div>
        <div class="filter text-box">
            <label>Max. delivery cost:</label>
            <input class="form-control" type="number" v-model="filter.maxDeliveryCost" number />
        </div>
        <div class="filter">
            <label>
                <input type="checkbox" id="open" v-model="filter.open"> Open
            </label>
        </div>
    </div>
</template>

<script src="./restaurantFilter.ts"></script>
<style src="./restaurantFilter.css"></style>