﻿.restaurants {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.restaurant-map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('staticMap.jpg');
}

#restaurant-map {
    position: relative;
    width: 100%;
    height: 100%;
}

.restaurant-filter {
    flex: 0 1 20%;
}

.italian {
    position: absolute;
    background-color: blue;
    width: 40px;
    height: 20px;
}

.french {
    position: absolute;
    background-color: purple;
    width: 20px;
    height: 20px;
}

.polish {
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.closed {
    opacity: 0.5;
}
