﻿<template>
    <div class="restaurant-map">
        <div id="restaurant-map">
        </div>
    </div>        
</template>

<script src="./restaurants.ts"></script>

<style src="./restaurants.css"></style>